<section class="flex gap-20">
    <section>
        <h1>Disciplinas</h1>
        <hr>
        <ul>
            @for (disciplina of disciplinas; track disciplina.nome) {
                <li class="disciplina" (click)="selecionar(disciplina)">
                    <div>
                        <p [class.selecionado]="selecionado == disciplina" class="disciplinaNome">{{disciplina.nome}}</p>
                        @if (selecionado == disciplina) {
                            <p class="disciplinaDescricao">{{disciplina.descricao}}</p>
                        }
                    </div>
                    <div class="flex gap-5">
                        <a [routerLink]="['/editar-disciplina', disciplina.id]" class="btn btn-secondary">Editar</a>
                        <button (click)="excluir(disciplina)" class="btn btn-danger">Excluir</button>
                    </div>
                </li>
            }
        </ul>
    </section>
</section>